doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')

    title Mor Naaman

    meta(name='description' content='Mor Naaman\'s Homepage | Jacobs Institute | Cornell Tech')
    meta(name='keywords' content='Mor Naaman, Mor Naaman Home, Mor Naaman Homepage, מור נעמן, Social Media,Jacobs Institute, Cornell Tech, Faculty, Associate Professor, Cornell University, Cornell Tech, Connective Media, Connected Experiences Lab ')
    meta(property="og:url" content="https://mornaaman.com")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Mor Naaman")
    meta(property="og:title" content="Mor Naaman's Homepage")
    meta(property="og:description" content="Mor Naaman's Homepage")
    meta(property="og:image" content="assets/preview.png")
    meta(property="og:locale" content="en_US")

    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400', rel='stylesheet', type='text/css')

    link(rel='shortcut icon' href='assets/favicon.png' type='image/png')

    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='main.js')


  body
    .left
      #headshot
        img(src='assets/headshot.jpg')
        #headshot-overlay
          a(href='https://www.flickr.com/photos/mmoorr/15592772261/sizes/z/') High-res
          span 
          a(href='https://www.flickr.com/photos/mmoorr/15516802398/sizes/z/') headshots
      h1 Mor Naaman
      ul#navi
        li#navi-home: a home
        li#navi-about: a bio
        li#navi-publications: a publications
      #external-links
        a#btn-stech(href='http://stech.nyc')
          p social technologies lab
        a(href='https://twitter.com/informor'): span.external-link.fa.fa-twitter
        a(href='mailto:mor@jacobs.cornell.edu'): span.external-link.fa.fa-envelope-o

    .card#home
      #shortBio!= bio.shortBio
      .line
      #news
        #news-title
          h2 news
          #news-more 
            a(href='https://twitter.com/morwork') more...
        ul
          each n in news
            li
              span.news-date= n.date
              span.seperation |
              span!= n.title

    .card#about
      #fullBio!= bio.fullBio

    .card#publications
      each year in publications
        if (year[0].year >= 2010)
          h2= year[0].year
        else
          h2 Earlier
        ul
          each p in year
            li
              a#p-icon(href=p.paperLink): span.fa.fa-file-pdf-o
              #p-info
                p#p-title= p.title
                span#p-author= p.author
                span.seperation |
                if p.sourceLink
                  a(href=p.sourceLink): span#p-source= p.source
                else
                  span#p-source= p.source
                if p.extraInfo
                  p!= p.extraInfo
                if p.award
                  #p-award
                    span.fa.fa-trophy
                    span= p.award
      #disclaimer
        span.fa.fa-exclamation-circle
        span 
          a(href='https://scholar.google.com/citations?user=IeqjwlIAAAAJ') This is not a definitive list and likely to include only major publications, for a full list go to Google Scholar.
